# Prerequisites
*.d
*.prob

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.cph/.Chef_and_Brain_Speed.cpp_0e58ec10c53cfdcd2eb683077609a6ba.prob
